body {
    margin: 50px;
    width: 60%;
}
div {
    margin: 50px;
}
header {
    background: rgb(53, 41, 116);
}
header h1 {
        color: white;
}
header h2 {
         font-weight:300;
         margin: 50px;
         color: rgb(116, 130, 230);
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav {
    float: right;
}
img {
    border-radius: 15%;
    padding-left: none;
    padding-top: none;
    padding-right: 5%;
    padding-bottom: 5%;
    float: left;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
    align-items: left;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.socials {
    border-bottom: 1px solid #d5d5d5;
}



ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}