---
layout: back_to_home
title: Research Blog
---
	<h1>{{ page.title }}</h1>
	<p>Welcome to my blog! Here I will share experiments, mini projects, and other research updates :) </p>
	<ul class="posts">

	  {% for post in site.posts %}
	    {% if post.category == "research" %}
	      <li class="post-item">
	        {% if post.teaser_image %}
	          <img src="{{ post.teaser_image }}" alt="{{ post.title }}" class="post-teaser">
	        {% endif %}
	        <div class="post-info">
	          <span class="post-date">{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
	        </div>
	      </li>
	    {% endif %}
	  {% endfor %}
	</ul>
