<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/blog">Column</a></li>
	    		</ul>
				<a href="/">← Back Home</a>
			</nav>
		
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a>email: [first name] dot [last name] at cs dot columbia dot edu </a></li>
	        		<li><a href="https://github.com/riyasahni">github.com/riyasahni</a></li>
				</ul>
			</footer>
		</body>
	</html>
