<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" href="/img/lion_favicon.png">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/blog">Column</a></li>
	    		</ul>
			</nav>
			<h1>
				<a href="/">Riya Sahni</a>
			</h1>

			
			<section>
				<div class="container">
			
					{{ content }}
		
						<!-- <ul class = "socials">
								<a href="riya.sahni@cs.columbia.edu">
								<img src="\img\favicons\email.png" alt="email" width="50" height="75">
								</a>
								<a href="github.com/riyasahni">
									<img src="\img\favicons\github.png" alt="github" width="50" height="75">
								</a>
								 <a href="https://www.linkedin.com/in/riya-sahni">
									<img src="\img\favicons\linkedin.png" alt="linkedin" width="50" height="75">
								</a>
								 <a href="https://scholar.google.com/">
									<img src="\img\favicons\google_scholar.png" alt="google_scholar" width="50" height="75">
								</a>
						</ul> -->
					
					</div><!-- /.container -->

			</section>
			<section>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
			</section>
			<section>
				<div>
					<h1>
						Research
					</h1>
					<p>
						I am a human-computer snd human-AI researcher interested in understanding how to improve large-scale AI adoption and building AI tools that augment productive learning behaviors.
					</p>
					<br/>
	
				</div>

			</section>
			
		<!-- <footer>
	    		<ul>
	        		<li><a>[first name].[last name]@cs.columbia.edu | </a></li>
	        		<li><a href="https://github.com/riyasahni">github.com/riyasahni |</a></li>
					<li><a href="https://www.linkedin.com/in/riya-sahni">LinkedIn |</a></li>
				</ul>
			</footer> -->
		</body>
	</html>
