<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" href="/img/lion_favicon.png">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/blog">Column</a></li>
	    		</ul>
			</nav>
			<h1>
				<a href="/">Riya Sahni</a>
			</h1>

			
			<!-- <section>
				<div class="container">
			
					{{ content }}
					
					</div>

			</section> -->

			<!-- Profile Section with Image and Blurb -->
			<section class="header-container">
				<img src="/img/image0.jpeg" alt="Profile Picture">
				<div class="blurb">
					<p>
						Hi, I'm Riya Sahni. I am passionate about human-computer and human-AI interaction. I enjoy exploring how AI can be integrated to improve productivity and learning.
					</p>
					<p>Hi! I am a first year Computer Science Ph.D. candidate at Columbia University, advised by <a href="https://www.cs.columbia.edu/~chilton/chilton.html">Dr. Lydia Chilton</a> in the Computational Design Lab.
						<br/> 
						<br/> 
					   I am a proud member of <a href="https://columbiahci.github.io/">🦁 Columbia HCI </a>, and I am grateful to be supported by the National Science Foundation Graduate Research Fellowship.
					</p>					
				</div>
			</section>

			<!-- Research Section -->
			<section class="research-section">
				<h1>Research</h1>
				<p>
					I am a human-computer and human-AI researcher interested in building AI tools that augment productive learning behaviors and understanding how to improve large-scale AI adoption.
				</p>


				<!-- Publications Feed -->
				<section class="publications">
					<h2>Publications</h2>
					<ul>
						<li>
							<b>Sahni, R.</b>, Author 2, Author 3. (Year). <i>Title of Paper 1</i>. Journal Name, Volume(Issue), Pages. 
							<a href="link-to-paper" target="_blank">[PDF]</a> 
						</li>
						<li>
							<b>Sahni, R.</b>, Author 2, Author 3. (Year). <i>Title of Paper 2</i>. Journal Name, Volume(Issue), Pages. 
							<a href="link-to-paper" target="_blank">[PDF]</a>
						</li>
						<!-- Add more publications as needed -->
					</ul>
				</section>

			</section>
			
		<!-- <footer>
	    		<ul>
	        		<li><a>[first name].[last name]@cs.columbia.edu | </a></li>
	        		<li><a href="https://github.com/riyasahni">github.com/riyasahni |</a></li>
					<li><a href="https://www.linkedin.com/in/riya-sahni">LinkedIn |</a></li>
				</ul>
			</footer> -->
		</body>
	</html>
