<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<h1>
				<li><a href="/">Riya Sahni</a></li>
			</h1>
			<nav>
	    		<ul class="nav nav-pills pull-right">
	        		<li><a href="/blog">Column</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a>email: [first name] dot [last name] at cs dot columbia dot edu </a></li>
	        		<li><a href="https://github.com/riyasahni">github.com/riyasahni</a></li>
				</ul>
			</footer>
		</body>
	</html>
